/* ===========BODY============ */
body {
  background-color: #faf7f2;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212112;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  overflow-x: hidden;
  transition: all 200ms linear;
}
::selection {
  color: #fff;
  background-color: #B69D78;
}
::-moz-selection {
  color: #fff;
  background-color: #B69D78;
}
h1,
h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
}

a,
p,
h3,
h4,
h5,
h6 {
  font-family: "Libre Franklin", sans-serif;
}

body {
  background-color: #faf7f2;
}

/* ===========NAVBAR============ */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 28px;
	width: auto;
	display: block;
  filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #3A3A3A !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #B69D78 !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #B69D78;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}

.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
max-height: 0;
  display: block;
padding: 0;
margin: 0;
  transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
max-height: 999px;
  transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
padding: 10px!important;
margin: 0;
font-size: 13px;
letter-spacing: 1px;
color: #212121;
background-color: #e4dfd8;
border: none;
border-radius: 3px;
box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}
.dropdown-toggle::after {
display: none;
}

.dropdown-item {
padding: 3px 15px;
color: #212121;
border-radius: 2px;
  transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
color: #fff;
background-color: rgba(182, 157, 120, 1);
}

/* ===========SLIDER============ */

.section-slider{
  margin-top: 6rem;
}

.carousel-caption{
  background-color: rgba(0, 0, 0, 0.3);

}
.h2-slider1{
  font-size: 55px;
  color: #ffff;
}
.h2-slider2{
  font-size: 55px;
  color: #ffff;
}
.h2-slider3{
  font-size: 55px;
  color: #ffff;
}


/* ===========CARDS============ */

.card {
  width: fit-content;
}

.card-body {
  width: fit-content;
}

.btn {
  border-radius: 0;
  width: fit-content;
  background-color: #b69d78;
  box-shadow: 0px 10px 10px #e0e0e0;
  z-index: 1;
  color: #3a3a3a;
  width: 50%;
  font-size: 14px;
  font-weight: 600;
  border-radius: 25px;
}

.btn:hover {
  background-color: #3a3a3a;
  color: #b69d78;
}

.btn-producto {
  display: flex;
  justify-content: center;
}
.img-thumbnail {
  border: none;
}

.card {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.card-title {
  font-size: 14px;
  font-weight: 900;
}

.card-text {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
}

.text-center {
  background-color: #eeeeee;
}
.card__producto {
  height: 348px;
} 


/* MODAL */
.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 650px;
  object-fit: cover;
}

/* BANNER CATALOGO */
.banner__container {
  position: relative;
  display: inline-block;
  text-align: star;
}

.text1 {
  position: absolute;
  top: 50px;
  left: 20px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
  font-size: 80px;
  margin-top: 5%;
}

.text2 {
  position: absolute;
  top: 180px;
  left: 20px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 30px;
  margin-top: 6%;
}

.banner__container-link {
  position: absolute;
  top: 290px;
  left: 20px;
  font-family: "Libre Franklin", sans-serif;
  text-decoration: underline;
  color: #000;
  width: 134px;
  margin-top: 7%;
  width: 12%;
  text-decoration: none;
}

/* SERVICIOS */
.servicios__item {
  display: flex;
  padding: 38px 30px 36px 30px;
  margin: 0 -5px 0 0;
  background-color: #ffffff;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  box-shadow: 0px 0px 40px 0px #eee;
}

div.servicios__icon img {
  width: 50px;
  height: 50px;
  max-width: unset;
}

.servicios__contenido {
  padding-left: 25px;
}

.servicios__contenido.titulo {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.servicios__contenido.des {
  margin-bottom: 20px;
}

.servicios__btn a {
  color: #000;
}

/* ============CATALOGO============ */
.div-catalogo{
  margin-top: 7rem;
}

.title-items-catalogo{
  text-align: center;
  padding-bottom: 1rem;
}
/* ============FOOTER Y NEWSLETTER============ */
.footer__bg {
  background-image: url(../img/footer-bg.jpeg);
}

.mb-40 {
  margin-bottom: 40px;
}

.footer__top {
  padding: 70px 0 50px;
}

.container-fluid2 {
  padding-left: 100px;
  padding-right: 100px;
}

.footer__logo img {
  max-height: 35px;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.footer__social li {
  display: inline;
  margin-right: 25px;
}

.footer__social li a {
  text-decoration: none;
}

i {
  color: #ffffff;
}

.footer__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__address li {
  padding: 0px 0px 21px 40px;
  position: relative;
}

.footer__address li i {
  color: #ffffff;
  position: absolute;
  left: 0px;
}

.footer__address li .dir {
  color: #ffffff;
}

.footer__address li .dir a {
  color: #ffffff;
  text-decoration: none;
}

.pl-55 {
  padding-left: 55px;
}

.site-map li {
  margin-bottom: 14px;
}

.site-map li a {
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}

.rs-view-btn {
  margin: 25px 0 0;
  position: relative;
}

.rs-view-btn input[type="email"] {
  border-color: #fff;
  background: none;
  border: 2px solid #fff;
  width: 100%;
  font-size: 13px;
  padding: 10px;
  margin: 0;
  color: #fff;
  height: 60px;
}

.suscribebtn {
  position: relative;
}

.suscribebtn button {
  position: absolute;
  background: #fff;
  border-radius: 0;
  padding: 0 14px 0 14px;
  height: 59px;
  font-size: 0;
  width: 60px;
  top: -20px;
  right: -1px;
  border: none;
}

.suscribebtn button i {
  color: #000;
}

.row-catalogo {
  margin: 1rem;
  padding-top: 25px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

h5 {
  font-weight: bold;
}

.btn-contacto {
  color: #fff;
  background-color: #daa056;
  border-color: #f7eee2;
}

.btn-contacto:hover {
  background-color: #f1b96f;
}

.btn-contacto:hover:active {
  background-color: #755a37;
}

h3 {
  color: rgba(0, 0, 0, 0.9);
}

.contact-form {
  padding-left: 50px;
  padding-right: 50px;
}

.contact-map {
  padding-left: 50px;
  padding-right: 50px;
}

.newsletter {
  font-family: "Cormorant Garamond", serif;
  color: antiquewhite;
  padding-top: 2rem;
  padding-bottom: 0;
}

.newsletter2 {
  font-family: "Libre Franklin", sans-serif;
  color: #faebd7;
  padding-bottom: 1rem;
}

.imgJumbotron {
  background-image: url(../../img/typewriter.jpg);
}

.itemsNewsletter {
  background-color: rgba(0, 0, 0, 0.5);
  height: 22rem;
}

.info {
  display: inline-block;
  margin-right: 5px;
}

.info input {
  display: block;
  width: 300px;
  height: 20px;
  border: 0;
  border-radius: 3px;
  margin: 0 0 10px 0;
  padding: 12px 10px;
  background: #fff;
}

.info input:last-child {
  margin: 0;
}

.info input:focus {
  background: #eee;
  outline: none;
}

input[type="submit"] {
  vertical-align: top;
  height: 60px;
  width: 98px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background: pink;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  background: linear-gradient(45deg, #faebd7, #497e76);
}

input[type="submit"]:hover {
  background: linear-gradient(180deg, #faebd7, #497e76);
}

form #mce-responses {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 3%;
}

form #mce-success-response {
  background: green;
  color: #ffff;
  border-radius: 12px;
  width: 20%;
  transition: 1s;
}
/* MEDIA QUERY */
@media only screen and (max-width: 600px) {
  .text1 {
    top: 5px;
    left: 20px;
    font-size: 19px;
  }

  .text2 {
    top: 38px;
    left: 32px;
    font-size: 7px;
  }

  .banner__container-link {
    top: 72px;
    left: 29px;
    font-size: 9px;
  }
}

@media only screen and (min-width: 600px) {
  .text1 {
    top: 5px;
    left: 20px;
    font-size: 37px;
  }

  .text2 {
    top: 66px;
    left: 32px;
    font-size: 14px;
  }

  .banner__container-link {
    top: 130px;
    left: 29px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .popup-image img {
    width: 35%;
  }

  .text1 {
    font-size: 47px;
  }

  .text2 {
    top: 85px;
    font-size: 18px;
  }

  .banner__container-link {
    top: 178px;
  }
}

@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
}

@media only screen and (min-width: 992px) {
  .text1 {
    font-size: 66px;
  }

  .text2 {
    top: 137px;
    font-size: 28px;
  }

  .banner__container-link {
    top: 235px;
  }
}
